{% block title %}
Instructions
{% endblock %}

{% block content %}

<div class="instructions">
    <p>In this part of the experiment, participants will interact in groups of three. The interaction will be repeated twelve times. In what follows, we will call each repetition of the interaction a "round".</p>
    <p>During each round, the three members of a group will have the opportunity to distribute <strong>12 POINTS</strong> amongst themselves.</p>
    <p>The points you receive will determine how much money you earn at the end of the experiment (exactly how will be explained later, but the more points you receive, the more money you can expect to earn).</p>
    <p>In order to help you understand exactly how the interactions work, we will now demonstrate the functioning of the program on your screen.</p>
    <p>There will be a short tutorial. In the tutorial, you will be shown the screen that will be used during the real rounds. How to understand this screen and use it to interact with the other participants in your group is explained to you in the printed instructions you have been given.</p>
    <p>During this tutorial <strong>no money will be awarded</strong>. The purpose of this tutorial is only to help you understand how the program works. You will be informed before the real interactions begin. Please follow the printed instructions carefully. It is important to understand how the program works!</p>
    <p><strong>PLEASE CLICK "Begin Tutorial" IF YOU ARE READY TO BEGIN THE TUTORIAL. Follow the printed instructions to complete the tutorial.</strong></p>
</div>

{{ formfields }}
<button name="begin"><h1>Begin Tutorial</h1></button>

{% endblock %}
