{% block title %}
TUTORIAL STAGE 1
{% endblock %}

{% block content %}

<div class="instructions">
    <p><strong>Read the instructions below and complete ALL the listed exercises.</strong></p>
    <p><strong>Note:</strong> you will not be able to finish the tutorial if you do not complete ALL the listed exercises.</p>
    <p><strong>DO NOT click “Move to stage 2” until you are specifically asked to do so.</strong></p>
    <br>
    <h4>UNDERSTANDING THE TRIANGLE</h4>
    <ul>
        <li>The participants in your group must decide how to divide <strong>12 points</strong> amongst yourselves.</li>
        <li>On your screen, you will see small circles arranged in the form of a large triangle. Each circle represents a different way of allocating the points amongst you and the other two participants you are interacting with in a given round.</li>
        <li>The corners of the triangle are labeled <strong style="color: orange;">Participant A</strong>, <strong style="color: blue;">Participant B</strong>, and <strong style="color: green;">You</strong>.</li>
        <li>The circles in the corners of the triangle correspond to allocations in which the indicated corner participant receives all available points, while the others receive no points.</li>
        <li><strong>The closer a circle is to a given corner, the more points the corresponding allocation assigns to that participant.</strong></li>
        <li>If you move your mouse over a circle, the corresponding points to be allocated to each participant are <strong>displayed in the appropriate corners of the triangle</strong>.</li>
    </ul>
    <h4>EXERCISES:</h4>
    <ul>
        <li id="task1"><input type="checkbox" class="exercise-checkbox" id="checkbox1"> Move your mouse around the triangle until you understand how the circles are arranged. Click on a circle to select it. Notice that the selected circle is marked in green.</li>
        <li id="task2"><input type="checkbox" class="exercise-checkbox" id="checkbox2"> Click outside the triangle. The green circle should disappear.</li>
        <li>During the real interactions, when you click on a circle, this will be shown on the screens of the two other participants you are interacting with, and it will disappear from their screens if you click outside the triangle. If two or more participants select the same circle continuously for 10 seconds, the points are allocated accordingly in that round.</li>
    </ul>
</div>

<p>When another participant in your group clicks on a circle on their screen, it will be marked on your screen in the color corresponding to that participant: orange for <strong style="color:orange">Participant A</strong>, blue for <strong style="color:blue">Participant B</strong>, and green for <strong style="color:green">You</strong>.</p>

<div class="header-container">
    <div class="values-container">
        <div id="player-values">
            <span id="p1-value"></span>
            <span id="p2-value"></span>
            <span id="p3-value"></span>
        </div>
        <div id="hover-values">
            <span id="hover-p1-value">Participant A</span>
            <span id="hover-p2-value">Participant B</span>
            <span id="hover-p3-value">You</span>
        </div>
    </div>
</div>

<div id="results-box" style="display:none;">
    <div class="content-container">
        <p class="results-info">You get: <span class="highlight" id="result-payoff"></span></p>
        <p class="results-info">Original Euros Earned: <span class="highlight" id="result-ogCurrency"></span></p>
        <p class="results-info">Final Euros Earned (after decay): <span class="highlight" id="result-currency"></span></p>
        <button type="button" id="repeat-tutorial-btn" class="next-button"><h1>Play Another Tutorial Round</h1></button>
    </div>
</div>

<div class="parent-container">
    <div id="triangleContainer"></div>
    <div class="corner-label top-left" id="participant2Label">Participant A</div>
    <div class="corner-label top-right" id="participant3Label">Participant B</div>
    <div class="corner-label bottom" id="youLabel">You</div>
</div>

<br><br><br>
<p><strong>When you have understood how the interactions work, click on “Finish tutorial” button. When all participants have finished the tutorial, the real interactions will begin.</strong></p>
<br><br>
<button type="button" id="move-to-stage2-btn" disabled><h1>Move to Stage 2</h1></button>

<script>
    document.getElementById("move-to-stage2-btn").addEventListener("click", function() {
        document.querySelector('form').submit();
    });

    let firstButtonClick = false;
    let firstDeselection = false;

    document.addEventListener('DOMContentLoaded', function() {
        var totalNodes = 12; // define total num of circles
        var totalPoints = 15; // define total num of points to distribute
        generateTriangle(totalNodes, totalPoints);
        makeBot1Choose();
        makeBot2Choose();
        positionCornerLabels();
        getTaskList();
        setupExerciseChecklist();
    });

    function getTaskList() {
        liveSend({'getTaskList':'hi'});
    }

    function liveRecv(data) {
        if ('allTasksCompleted' in data) {
            document.getElementById('move-to-stage2-btn').disabled = false;
        }
        if ('howManyCompleted' in data) {
            checkCompleted(data['howManyCompleted']);
        }
    }

    function check(x) {
        var element = document.getElementById('checkbox' + x);
        if (element) {
            element.checked = true;
        } else {
            console.error("Element with id 'task" + x + "' not found.");
        }
        var taskElement = document.getElementById('task' + x);
        if (taskElement) {
            taskElement.style.textDecoration = 'line-through';
        } else {
            console.error("Element with id 'task" + x + "' not found.");
        }
    }

    document.getElementById("repeat-tutorial-btn").addEventListener("click", function() {
        location.reload(); 
    });

    var config = {
        totalRows: 6,
        totalPoints: 15,
        timeToAgreement: 150,
        ratificationTime: 3
    }
    window.buttonStates = {};

    function setupExerciseChecklist() {
        const checkboxes = document.querySelectorAll('.exercise-checkbox');
        const finishButton = document.getElementById('move-to-stage2-btn');
        
        checkboxes.forEach(checkbox => {
            checkbox.addEventListener('change', () => {
                const allChecked = Array.from(checkboxes).every(cb => cb.checked);
                finishButton.disabled = !allChecked;
            });
        });

        const allChecked = Array.from(checkboxes).every(cb => cb.checked);
        finishButton.disabled = !allChecked;
    }

    function makeBot1Choose() {
        liveSend("player1bot");
    }
    function makeBot2Choose() {
        liveSend("player2bot");
    }

    document.addEventListener('click', function(event) {
        const triangleContainer = document.getElementById('triangleContainer');
        if (!triangleContainer.contains(event.target)) {
            if (firstButtonClick) {
                check(2);
                liveSend({buttonClicked: true, whichTask: 2});
            }
            deselectAllButtons();
        }
    });

    function deselectAllButtons() {
        if (!firstDeselection && firstButtonClick) {
            firstDeselection = true;
        }
        Object.keys(window.buttonStates).forEach(buttonId => {
            window.buttonStates[buttonId].clickedByUser1 = false;
            updateButtonAppearance(document.getElementById(buttonId), window.buttonStates[buttonId]);
        });
        agreementButtonID = null;
    }

    function handleButtonClick(buttonId) {
        const buttonState = window.buttonStates[buttonId];
        if (buttonState.clickedByUser1) {
            buttonState.clickedByUser1 = false;
            updateButtonAppearance(document.getElementById(buttonId), buttonState);
            stopAgreementTimer();
            agreementButtonID = null;
        } else {
            if (!firstButtonClick) {
                check(1);
                liveSend({buttonClicked: true, whichTask: 1});
                firstButtonClick = true;
            }
            deselectAllButtons();
            buttonState.clickedByUser1 = true;
            updateButtonAppearance(document.getElementById(buttonId), buttonState);
            if (Object.values(buttonState).filter(Boolean).length >= 2 && agreementButtonID === null) {
                startAgreementTimer();
                agreementButtonID = buttonId;
            }
        }
        liveSend({button_clicked: true, button_id: buttonId});
    }

    function checkCompleted(taskList) {
        for (let key in taskList) {
            check(key);
        }
    }

    function startDecay() {
        var currentValue = 3.00;
        var display = document.getElementById('euValue');
        liveSend({'timerStarted': Date.now()});
        var decayInterval = setInterval(function() {
            if (currentValue <= 0) {
                displayResultsEnd();
            } else {
                currentValue -= 0.02;
                display.textContent = currentValue.toFixed(2);
            }
        }, 1000);
    }

    function generateTriangle(n, points) {
        const container = document.getElementById('triangleContainer');
        const numRows = Math.floor(Math.sqrt(2 * n + 0.25) - 0.5);
        var bottomP = 0;
        const mappings = {
            1: (bottomP, leftP, rightP) => ({bottomP, leftP, rightP}),
            2: (bottomP, leftP, rightP) => ({bottomP: rightP, leftP: bottomP, rightP: leftP}),
            3: (bottomP, leftP, rightP) => ({bottomP: leftP, leftP: rightP, rightP: bottomP})
        };

        for (var rowNum = numRows; rowNum >= 1; rowNum--) {
            const rowDiv = document.createElement('div');
            rowDiv.className = 'triangle-row';
            var leftP = rowNum - 1;
            var rightP = 0;
            const scalingFactor = points / (numRows - 1);
            for (var buttonNum = 1; buttonNum <= rowNum; buttonNum++) {
                const {bottomP: rawBottomP, leftP: rawLeftP, rightP: rawRightP} = mappings[window.playerId](bottomP, leftP, rightP);
                const scaledBottomP = formatCoordinate(rawBottomP * scalingFactor);
                const scaledLeftP = formatCoordinate(rawLeftP * scalingFactor);
                const scaledRightP = formatCoordinate(rawRightP * scalingFactor);
                const buttonId = `btn${scaledBottomP}_${scaledLeftP}_${scaledRightP}`;
                window.buttonStates[buttonId] = [];
                const button = document.createElement('button');
                button.dataset.coords = `(${scaledBottomP},${scaledLeftP},${scaledRightP})`;
                button.id = buttonId;
                button.className = 'button';
                button.type = 'button';
                rowDiv.appendChild(button);

                button.addEventListener('click', function(e) {
                    handleButtonClick(e.target.id);
                });

                button.addEventListener('mouseenter', function(e) {
                    var hoverValues = e.target.dataset.coords.split(',').map(function(coord) {
                        return coord.trim().replace(/[()]/g, '');
                    });
                    showAndPositionHoverValue('hover-p1-value', hoverValues[0], 'bottom');
                    showAndPositionHoverValue('hover-p2-value', hoverValues[1], 'topLeft');
                    showAndPositionHoverValue('hover-p3-value', hoverValues[2], 'topRight');
                });

                button.addEventListener('mouseleave', function(e) {
                    hideHoverValue('hover-p1-value');
                    hideHoverValue('hover-p2-value');
                    hideHoverValue('hover-p3-value');
                });

                leftP--;
                rightP++;
            }
            container.appendChild(rowDiv);
            bottomP++;
            leftP = rowNum - 2;
            rightP = 0;
        }
    }

    function formatCoordinate(value) {
        if (Math.floor(value) !== value) {
            return value.toFixed(1);
        }
        return value;
    }

    function showAndPositionHoverValue(id, value, position) {
        var valueSpan = document.getElementById(id);
        valueSpan.textContent = value;
        valueSpan.style.display = 'block';
        var containerRect = document.getElementById('triangleContainer').getBoundingClientRect();
        var scrollLeft = window.pageXOffset || document.documentElement.scrollLeft;
        var scrollTop = window.pageYOffset || document.documentElement.scrollTop;
        if (position === 'topLeft') {
            valueSpan.style.left = (containerRect.left + scrollLeft - 25) + 'px';
            valueSpan.style.top = (containerRect.top + scrollTop) + 'px';
        } else if (position === 'topRight') {
            valueSpan.style.left = (containerRect.right + scrollLeft + 25 - valueSpan.offsetWidth) + 'px';
            valueSpan.style.top = (containerRect.top + scrollTop) + 'px';
        } else if (position === 'bottom') {
            valueSpan.style.left = (containerRect.left + scrollLeft + (containerRect.width - valueSpan.offsetWidth) / 2) + 'px';
            valueSpan.style.top = (containerRect.bottom + scrollTop + 25 - valueSpan.offsetHeight) + 'px';
        }
    }

    function hideHoverValue(id) {
        var valueSpan = document.getElementById(id);
        valueSpan.style.display = 'none';
    }

    function positionCornerLabels() {
        var triangleContainer = document.getElementById('triangleContainer');
        var triangleRect = triangleContainer.getBoundingClientRect();
        var participantALabel = document.getElementById('participant2Label');
        var participantBLabel = document.getElementById('participant3Label');
        var youLabel = document.getElementById('youLabel');
        var scrollLeft = window.pageXOffset || document.documentElement.scrollLeft;
        var scrollTop = window.pageYOffset || document.documentElement.scrollTop;
        participant2Label.style.top = (triangleRect.top + scrollTop - 30) + 'px';
        participant2Label.style.left = (triangleRect.left + scrollLeft - 65) + 'px';
        participant3Label.style.top = (triangleRect.top + scrollTop - 30) + 'px';
        participant3Label.style.left = (triangleRect.right + scrollLeft - 30) + 'px';
        youLabel.style.top = (triangleRect.bottom + scrollTop + 25) + 'px';
        youLabel.style.left = (triangleRect.left + scrollLeft + (triangleRect.width - youLabel.offsetWidth) / 2) + 'px';
    }

    function updateButtonAppearance(button, btnState) {
        button.classList.remove('green-border');
        if (btnState.clickedByUser1) {
            button.classList.add('green-border');
        }
    }

    window.playerId = {{ player.id_in_group }};
</script>

<style>
    .exercise-checkbox {
        display: none;
    }

    
    .instructions {
        font-family: Arial, sans-serif;
        font-size: 16px;
        line-height: 1.5;
        color: #333;
        background-color: #f9f9f9;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        max-width: 800px;
        margin: auto;
        margin-bottom: 20px;
    }

    .instructions p {
        margin-bottom: 15px;
    }

    .instructions h4 {
        margin-top: 20px;
    }

    .instructions ul {
        padding-left: 20px;
    }

    .header-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .values-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    #hover-p1-value, #hover-p2-value, #hover-p3-value {
        position: absolute;
        display: none;
    }

    #triangleContainer {
        display: inline-block;
        margin-top: 50px;
    }

    .triangle-row {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        font-size: 0px;
        line-height: 30px;
        color: black;
        border: 1px solid #ccc;
        background-color: white;
        position: relative;
        overflow: hidden;
    }

    .button:hover {
        background-color: rgba(0, 0, 0, 0.5);
    }

    .green-border {
        border: 2px solid green;
    }

    .corner-label {
        position: absolute;
        font-size: 16px;
        white-space: nowrap;
    }

    .parent-container {
        display: flex;
        align-content: center;
        justify-content: center;
        min-width: 500px;
    }

    .content-container {
        text-align: center;
        padding: 20px;
        background-color: #f7f7f7;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        margin: auto;
        max-width: 500px;
    }

    .results-info {
        font-size: 18px;
        margin: 10px 0;
    }

    .highlight {
        font-weight: bold;
        color: #333;
    }

    .next-button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 20px 2px;
        cursor: pointer;
        border-radius: 4px;
        transition: background-color 0.3s;
    }

    .next-button:hover {
        background-color: #45a049;
    }

    #participant2Label {
        font-weight: bold;
        color: orange;
    }

    #participant3Label {
        font-weight: bold;
        color: blue;
    }

    #youLabel {
        font-weight: bold;
        color: green;
    }
</style>

{% endblock %}
